<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyARvhtsdZFPQrBnFqoZnbC89nbuMIFYYus</string>
	<key>GCM_SENDER_ID</key>
	<string>932785227398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eos.fsis</string>
	<key>PROJECT_ID</key>
	<string>eos-4sis-3c03a</string>
	<key>STORAGE_BUCKET</key>
	<string>eos-4sis-3c03a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932785227398:ios:0bb3bae11e1378ea047307</string>
</dict>
</plist>